<main class="main">
  <div>
    <h3>Действующие маршруты IPv4</h3>

    @if (routes.length > 0) {
      <table>
        <thead>
        <tr>
          <th>Адрес назначения</th>
          <th>Шлюз</th>
          <th>Интерфейс</th>
        </tr>
        </thead>
        <tbody>
          @for (route of routes; track route.uuid) {
            <tr>
              <td>{{ route.address }}</td>
              <td>{{ route.gateway }}</td>
              <td>{{ route.interface }}</td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div>
        <p>Нет маршрутов</p>
      </div>
    }
  </div>
</main>
